<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Student_ID %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
	<%= f.label :First_Name %><br />
	<%= f.text_field :first_name %>
  </div>
  
  <div class="field">
	<%= f.label :Last_Name %><br />
	<%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
   <div class="field">
	<%= f.radio_button :admin, true %>
	<%= f.label :admin, "Admin" %>
	<%= f.radio_button :admin, false %>
	<%= f.label :admin, "User" %>
  </div>
  
  <div class="field">
	<%= f.collection_select(:project_ids, Project.all, :id, :name, {}, {:multiple => true}) %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3Delete an Account</h3>

<p>Delete <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
